.container {
  position: fixed;
  z-index: 50;
  top: 100px;
  left: 120px;
  width: 80%;
  height: 80%;
  background-color: white;
  .child {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    border: 1px solid #eee;
    margin: 20px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-between;
    textarea {
      font-size: 20px;
      padding: 10px;
      width: 100%;
      border-radius: 3px;
      border: 1px solid rgb(161, 153, 153);
    }
    input {
      font-size: 20px;
      padding: 10px;
      margin: 0px auto;
      width: 100%;
      border-radius: 3px;
      border: 1px solid rgb(161, 153, 153);
      height: 20px;
    }
    svg {
      height: 35px;
    }
    .name {
      font-weight: 450;
      font-size: 25px;
    }
    .title {
      display: flex;

      .note {
        margin-bottom: 20px;

        display: flex;
        align-items: center;
        width: 100%;
      }
    }
  }
  .button {
    margin-top: 10px;
    display: flex;
    display: flex;
    justify-content: flex-end;
    button:first-of-type {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 5px;
      margin-right: 30px;
      background-color: rgb(40, 167, 69);
      width: 140px;
      border: none;
      color: white;
      svg {
        height: 20px;
        fill: white;
      }
      span {
        font-size: 25px;
        margin-left: 5px;
      }
    }
    button:nth-of-type(2) {
      box-sizing: border-box;
      display: flex;
      justify-content: center;

      align-items: center;
      padding: 5px;
      border-radius: 5px;
      margin-right: 30px;
      background-color: rgb(220, 53, 69);
      width: 140px;
      border: none;
      color: white;
      svg {
        height: 20px;
        fill: white;
      }
      span {
        font-size: 25px;
        margin-left: 5px;
      }
    }
  }
}
button:disabled {
  background-color: rgb(95, 206, 121) !important;
}
.error {
  border: 1px solid red !important;
}
