.container{
  
  position: fixed;
  z-index: 50;
  top: 100px;
  left: 120px;
  width: 80%;
  height: 80%;
  background-color: green;
  .child{
    width: 90%;
    height: 90%;
    border: 1px solid #eee;
    margin: 20px auto;
    border-radius: 8px;
  }

}