.container {
  height: 120px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  padding-left: 40px;
  box-sizing: border-box;
  user-select: none;
  svg {
    width: 80px;
    height: 80px;
  } 
  h1 {
    color: white;
    font-size: 30px;
    transition: all 0.5s ease;
  }
  &:hover {
    h1 {
      font-size: 35px;
    }
  }
}
